# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
build
dist

# Git
.git
.gitignore

# Environment
.env
.env.local
.env.production
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Misc
*.pem
