@import 'viewerjs/dist/viewer.css';

.viewer-canvas {
  background-color: black !important;
}
.viewer-reset::before {
  content: '1:1';
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  position: relative;
  bottom: -9px;
  letter-spacing: -2px;
  background-image: none;
}
